langchain
langchain-community
langchain-mongodb
langchain-google-genai
langchain-text-splitters
langchain-huggingface 
langchain-chroma
text-generation 
transformers 
google-search-results 
numexpr 
langchainhub 
sentencepiece 
jinja2 
bitsandbytes 
accelerate
sentence-transformers
pypdf
beautifulsoup4
python-multipart
python-dotenv
requests
numpy
tqdm
fastapi
uvicorn
pydantic

